<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>
    <div id="user-area">
        <h2>User Area</h2>
        <p>Welcome, <span id="user-name">{{ user['user_name'] }}</span>!</p>
    </div>

    <div id="subscription-area">
        <h2>Subscription Area</h2>
        {% for music in subscriptions['subbed_music'] %}
            <div class="subscription-item" id="item-{{ loop.index }}">
                <p>Title: {{ music['Title'] }}</p>
                <p>Artist: {{ music['Artist'] }}</p>
                <p>Year: {{ music['Year'] }}</p>
                <img src="{{ music['ImagePath'] }}" alt="Artist Image">
                <button class="remove-subscription" data-index="{{ loop.index }}">Remove</button>
            </div>
        {% else %}
            <p>No subscriptions found.</p>
        {% endfor %}
    </div>    

    <div id="query-area">
        <h2>Query Area</h2>
        <form id="query-form">
            <input type="hidden" id="email" name="email" value="{{ user['email'] }}">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title">
            <br><br>
            <label for="year">Year:</label>
            <input type="text" id="year" name="year">
            <br><br>
            <label for="artist">Artist:</label>
            <input type="text" id="artist" name="artist">
            <br><br>
            <button type="submit">Query</button>
        </form>
        <div id="query-results-area"></div>
    </div>
    <script src="{{ url_for('static', filename='page_helper.js') }}"></script>
    <a href="/logout" class="button-like-link">Logout</a> 
</body>
</html>
